<a href="https://colab.research.google.com/github/audrey-siqueira/Data-Science-Projects/blob/master/Eclat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Arrangement of Products in the Supermarket using the Eclat Association**
---
<p align="justify">
A supermarket chain realized that the place where each product is placed for customers has a great chance of interfering in the purchase or not of a certain product. For example, they found that a customer buying a product A has a certain probability of buying a product B, depending on the place and distance that these two products are located within the market.

<p align=center>
<img src="https://drive.google.com/uc?id=177-0CzBgcDv-2k2Pj3lLx5kLvoOhbWLE" width="60%"></p>

<p align="justify">
The supermarket wants to know, through its data science department, which products have the strongest degree of association based on the customer's purchasing database.The data department received a database with a large amount of purchases made by customers and the following product lists for each purchase.

<p align=center>
<img src="https://drive.google.com/uc?id=1b9luthQB5cTLfjWb2Lpm5_u4CaPskgDQ" width="40%"></p>


The strategy in this case is to use the **Eclat** association method, returning the values of association between products represented by the Support in descending order.


**Code description is explained below:**

## **Package Installation**

In the platform there is not any pre-installed requirements. In this step, the necessary library is installed.

In [ ]:
!pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=85b8614c54e8d31004e0ed8f03406a5a06d83938a3c4e7a473b8198858573e6c
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

## **Importing the libraries**

The 3 libraries needed for the project are imported.
- Pandas for data manipulation and analysis
- Numpy for mathematical operations
- Matplotlib for graphical visualizations

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## **Importing the data set**

The .csv file containing database is imported.

The values of the database header and how they are distributed can be viewed in the image below:

In [ ]:
dataset = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Association/Eclat/Market_Basket_Optimisation.csv', header = None)
transactions = []
for i in range(0, 7501):
  transactions.append([str(dataset.values[i,j]) for j in range(0, 20)])
dataset.head()

              0          1           2   ...               17       18         19
0         shrimp    almonds     avocado  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...              NaN      NaN        NaN
2        chutney        NaN         NaN  ...              NaN      NaN        NaN
3         turkey    avocado         NaN  ...              NaN      NaN        NaN
4  mineral water       milk  energy bar  ...              NaN      NaN        NaN

[5 rows x 20 columns]

## **Applying Eclat model on the dataset**

The **apyori** library was used to apply the **Eclat** method.

In [ ]:
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

## **Visualising the results**

Displaying the results sorted by descending Supports.

In [ ]:
results = list(rules)
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    return list(zip(lhs, rhs, supports))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Product 1', 'Product 2', 'Support'])
resultsinDataFrame.nlargest(n = 10, columns = 'Support')

              Product 1    Product 2   Support
4         herb & pepper  ground beef  0.015998
7     whole wheat pasta    olive oil  0.007999
2                 pasta     escalope  0.005866
1  mushroom cream sauce     escalope  0.005733
5          tomato sauce  ground beef  0.005333
8                 pasta       shrimp  0.005066
0           light cream      chicken  0.004533
3         fromage blanc        honey  0.003333
6           light cream    olive oil  0.003200

## **Conclusion**

The Eclat returned the association between Herb & Pepper and Ground Beef as the strongest association considering all the products.